#topbar-cta-button span {
  border-radius: 8px;
  font-weight: bold;
  padding: 4px 2px;
}

.custom-button {
  display: inline-block;
  padding: 4px 16px;
  background-color: #f1f1f1;
  text-align: center;
  user-select: none;
}

.highlight-link {
  text-decoration: none;
  position: relative;
  color: #6A50E1;
  font-weight: 400;
}

.highlight-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust thickness */
  background-color: #9987ff;
  bottom: -2px; /* Adjust based on underline height */
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.highlight-link:hover::after {
  transform: scaleX(1);
}
